h1 {
    background: linear-gradient(0deg, #ea0f0f, #c9c6aa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 0 15px;
}

.Logo {
    display: block;
    height: 80px;
}

.Logo img {
    height: 100%;
}
header {
    padding: 15px 0;
    width: 100%;
}

.header__wrapper a {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    background: linear-gradient(0deg, #ea0f0f, #c9c6aa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-link {
    display: none;
}

.categories {
    position: sticky;
    top: 20px;
}

.categories__wrapper {
    background: rgb(0, 0, 0, 0.5);
    padding: 10px 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 450px;
    margin: 30px auto;
    overflow-y: auto;
    cursor: grab;
    user-select: none;

}

.categories__wrapper.active {
    cursor: grabbing;
}

.categories__wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.categories__wrapper a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    white-space: nowrap;
    display: block;
    width: 150px;
    margin: 0 20px;
    text-align: center;
}

.categories__wrapper a.active {
    background: linear-gradient(0deg, #ea0f0f, #c9c6aa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.products h2 {
    color: white;
    margin-bottom: 30px;
}

.products__wrapper {
    padding: 40px;
    margin: 0 auto;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.products__list-item {
    width: 180px;
    background: rgba(0, 0, 0, 0.615);
    color: white;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.products__list-item img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.products__list-item h3 {
    padding: 10px;
    height: 64px;
    text-align: center;
    font-size: 18px;
}

.products__list-count {
    font-size: 14px;
    color: #B3B3B3;
}

.products__list-price {
    background: linear-gradient(0deg, #ea0f0f, #c9c6aa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    font-weight: 700;
}

.products__list-price span {
    font-size: 14px;
}

.products__list-item .row {
    justify-content: space-between;
    display: flex;
    padding: 0 10px 10px 10px;
    align-items: flex-end;
}

@media all and (max-width: 768px) {
    .products_wrapper {
        padding: 0;
        padding-bottom: 40px;
    }
    .products h2 {
        margin-bottom: 20px;
    }
    .pc-link {
        display: none;
    }
    .mobile-link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        width: 42px;
        height: 28px;
        position: relative;
        z-index: 2;
    }
    .mobile-link figure {
        height: 4px;
        width: 100%;
        background: linear-gradient(0deg, #ea0f0f, #c9c6aa);
        border-radius: 10px;
    }
    .mobile-link:nth-child(2) {
        width: 70%;
    }
    h1 {
        position: absolute;
        top: 20px;
        font-size: 26px;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 1;
    }
    .categories__wrapper {
        margin: 15px auto;
    }
    .categories::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.01));
        border-radius: 25px 0 0 25px;
        width: 25%;
        height: 100%;
    }
    .categories::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0.01));
        border-radius: 0 25px 25px 0;
        width: 25%;
        height: 100%;
    }
}

@media all and (max-width: 560px) {
    .products__list-item {
        width: calc(50% - 3px);
    }
    .products__list{
        gap: 6px;
    }
    header {
        padding: 5px 0;
    }
    .Logo {
        height: 60px;
    }
}