h1 {
    background: linear-gradient(0deg, #ea0f0f, #c9c6aa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 0 15px;
}

.Logo {
    display: block;
    height: 80px;
}

.Logo img {
    height: 100%;
}


header {
    padding: 15px 0;
    width: 100%;
}

.header__wrapper a{
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    background: linear-gradient(0deg, #ea0f0f, #c9c6aa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-link {
    display: none;
}

.categories {
    position: sticky;
    top: 20px;
    background: rgb(0, 0, 0, 0.5);
    padding: 10px 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: fit-content;
    max-width: 950px;
    margin: 30px auto;
    overflow-y: auto;
    cursor: grab;
    user-select: none;
}

.categories.active {
    cursor: grabbing;
}

.categories::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.categories a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    white-space: nowrap;
    display: block;
    width: 150px;
    margin: 0 20px;
    text-align: center;
}

.categories a.active {
    background: linear-gradient(0deg, #ea0f0f, #c9c6aa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.products h2 {
    color: white;
    margin-bottom: 30px;
}

.products__wrapper {
    padding: 40px;
    margin: 0 auto;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.products__list-item {
    width: 180px;
    background: rgba(0, 0, 0, 0.615);
    color: white;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.products__list-item img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.products__list-item h3{
    padding: 10px;
    height: 64px;
    text-align: center;
    font-size: 18px;
}

.products__list-count{
    font-size: 14px;
    color: #B3B3B3;
}

.products__list-price{
    background: linear-gradient(0deg, #ea0f0f, #c9c6aa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    font-weight: 700;
}

.products__list-price span{
    font-size: 14px;
}

.products__list-item .row{
    justify-content: space-between;
    display: flex;
    padding: 0 10px 10px 10px;
    align-items: flex-end;
}